In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load file into a DataFrame
df_exams = pd.read_csv('./datasets/diabetes_exams.csv')

NameError: name 'pd' is not defined

In [ ]:
# Visualize the data
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_patient  100 non-null    int64
 1   gender      100 non-null    object
 2   age         100 non-null    int64
 3   weight      100 non-null    int64
 4   height      100 non-null    int64
 5   result      100 non-null    int64
dtypes: int64(5), object(1)
memory usage: 4.8+ KB

In [ ]:
# Show first 10 rows
df_exams.head(10)

   id_patient gender  age  weight  height  result
0           1      M   46      83     165      98
1           2      F   23      83     164      82
2           3      M   39      71     154      93
3           4      F   26     103     165      95
4           5      M   27      55     176     100
5           6      M   64      93     190     117
6           7      F   21      70     182      90
7           8      F   60     101     179      84
8           9      F   63      83     189      92
9          10      F   65      78     175     121